@media (min-width: 340px) and (max-width: 600px) {
  #header-container {
    display: none;
  }
  #section-container {
    display: none;
  }
  #section-container1 {
    display: none;
  }
  #section-container2 {
    display: none;
  }
  #section-container3 {
    display: none;
  }
  .border {
    display: none;
  }
  #footer-container {
    display: none;
  }

  /* #headre-container-mb */

  #header-container-mb {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fbe6d4;
    margin: 0 auto;
  }

  /* #main-container-mb */

  #main-container-mb {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .sup-class-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* #sectuion-container-mb */

  #section-container-mb {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f6e7da;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .h1-class-mb {
    font-size: 30px;
    font-weight: 700;
  }

  .p-class {
    color: grey;
    margin-top: 30px;
  }

  .btn-mb {
    width: 162px;
    height: 43px;
    background-color: #e67e22;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
  }

  .btn-mb1 {
    width: 162px;
    height: 43px;
    background-color: white;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 8px;
  }

  .p-class-mb {
    font-weight: 600;
    font-size: 15px;
  }

  .p-class-mb1 {
    color: #e67e22;
    font-weight: 600;
    font-size: 15px;
  }

  .span-class {
    display: flex;
    gap: 5px;
  }

  .image-1 {
    position: relative;
    position: absolute;
    margin-left: 130px;
    margin-top: 70px;
  }

  .image-2 {
    position: relative;
    margin-left: 200px;
    margin-top: 190px;
  }

  .image-3 {
    position: relative;
    margin-top: -100px;
    margin-left: 30px;
  }

  /* #nav-container */

  #nav-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .sup-class-mb1 {
    display: flex;
    gap: 18px;
    margin-top: 30px;
    align-items: center;
  }

  .p-class-mb2 {
    color: rgb(132, 130, 130);
    font-weight: 600;
  }

  /* #section-containner-mb1  */

  #section-container-mb1 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 130px;
  }

  .b-class {
    color: #e67e22;
  }

  .h1-class-mb1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .screen-class {
    margin-left: 195px;
    margin-top: -120px;
    z-index: 20;
    position: absolute;
  }

  .screen-class1 {
    position: absolute;
    margin-left: 147px;
    margin-top: -100px;
  }

  .screen-class2 {
    position: absolute;
    margin-left: 175px;
    margin-top: -73px;
  }

  .b-class2 {
    margin-top: 200px;
  }

  .p-class19 {
    margin-top: 160px;
    font-size: 45px;
    color: rgb(160, 159, 159);
    font-weight: 900;
  }

  .h2-class-mb {
    font-weight: 900;
    margin-top: 13px;
  }

  .p-class-mb3 {
    color: grey;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 17px;
  }

  .screen-class3 {
    position: absolute;
    margin-top: 100px;
    margin-left: 195px;
    z-index: 5;
  }

  .screen-class4 {
    position: absolute;
    margin-top: 115px;
    margin-left: 147px;
  }

  .screen-class5 {
    position: absolute;
    margin-top: 140px;
    margin-left: 175px;
  }

  .p-class18 {
    margin-top: 400px;
    font-size: 45px;
    color: rgb(160, 159, 159);
    font-weight: 900;
  }

  .screen-class6 {
    position: absolute;
    margin-top: 100px;
    margin-left: 195px;
    z-index: 7;
  }

  .screen-class7 {
    position: absolute;
    margin-left: 147px;
    margin-top: 115px;
  }

  .screen-class8 {
    position: absolute;
    margin-top: 140px;
    margin-left: 175px;
  }

  .p-class17 {
    margin-top: 400px;
    font-size: 45px;
    color: rgb(160, 159, 159);
    font-weight: 900;
  }

  .meals-class {
    color: #e67e22;
    font-weight: 600;
    margin-top: 110px;
  }

  .span-class1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-container100 {
    display: flex;
    flex-direction: column;
    width: 323px;
    height: 255px;
    background-color: #ebeaea;
    padding-left: 35px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .main-container20 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-texts {
    margin-top: 30px;
  }

  .img-div-mb {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 90px;
    margin-left: 150px;
  }

  .b-class-mb {
    color: #e67e22;
  }

  .h1-class-mb2 {
    font-weight: 700;
    margin-top: 15px;
  }

  /* #section-container-mb2 */

  #section-container-mb2 {
    background-color: #fbebdc;
    margin-top: 100px;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }

  .sup-class100 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .main-container-mb1 {
    margin-top: 80px;
    margin-left: 20px;
  }

  /* #section-container-mob */

  #section-container-mob {
    padding-right: 15px;
    padding-left: 15px;
  }

  .sup-class-flex2 p {
    font-weight: 600;
    color: #e67e22;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .div-class30 {
    width: 390px;
    height: 510px;
    border: 1.6px solid #ffd8b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border-radius: 12px;
    margin-top: 90px;
    margin-left: 60px;
    background-color: rgb(251, 251, 251);
  }

  .div-class50 {
    width: 390px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border-radius: 12px;
    margin-top: 90px;
    margin-left: 60px;
    background-color: #fbe6d7;
  }

  .main-class4 {
    background-color: #e98f40;
    padding-left: 20px;
    width: 343px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .main-container-mb23 {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
  }

  #footer-container-mb {
    padding-top: 120px;
    padding-left: 20px;
  }

  .main-container-mb3 {
    display: flex;
    gap: 38px;
    margin-bottom: 60px;
  }

  .main-container-mb14 {
    display: flex;
    gap: 70px;
    align-items: center;
    margin-bottom: 130px;
  }
}
